@model Monitoring.UI.Pages.IndexModel

<!-- Подключаем стили jQuery UI (для draggable, sortable) -->
<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/smoothness/jquery-ui.css" />

<!-- Подключаем jQuery + jQuery UI (Sortable) внизу -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+xOHO3P5QnDd1z8nMYuZAdyM7XnZcHPF7C+N8BY="
        crossorigin="anonymous"></script>

<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"
        integrity="sha256-lBCXF5Ug8u8fSZayWvK+2n2Lbq7VX/TS8btW3kCj0OU="
        crossorigin="anonymous"></script>


<script>
    $(function() {
        // Делаем строки таблицы (tbody) сортируемыми
        $("#workItemsTable tbody").sortable({
            handle: ".drag-handle",  // тащим за элемент с этим классом
            axis: "y",               // только вертикально
            cursor: "move"           // меняем курсор при перетаскивании
        });

        // Отключаем выделение текста при перетаскивании
        $("#workItemsTable tbody").disableSelection();
    });
</script>

<table class="table table-bordered" id="workItemsTable">
    <thead>
        <tr>
            <th>DocumentName</th>
            <th>WorkName</th>
            <th>Executor</th>
            <th>Controller</th>
            <th>Approver</th>
            <th>PlanDate</th>
            <th>Korrect1</th>
            <th>Korrect2</th>
            <th>Korrect3</th>
            <th>Выбор</th> <!-- вместо FactDate делаем колонку Выбор/порядок -->
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.WorkItems)
        {
            <!-- Используем data-id, чтобы позже идентифицировать строку -->
            <tr data-id="@item.DocumentNumber">
                <td>@item.DocumentName</td>
                <td>@item.WorkName</td>
                <td>@item.Executor</td>
                <td>@item.Controller</td>
                <td>@item.Approver</td>
                <td>@item.PlanDate?.ToShortDateString()</td>
                <td>@item.Korrect1?.ToShortDateString()</td>
                <td>@item.Korrect2?.ToShortDateString()</td>
                <td>@item.Korrect3?.ToShortDateString()</td>

                <!-- Чекбокс и "ручка" для перетаскивания -->
                <td class="align-middle">
                    <input type="checkbox" class="row-select" />

                    <!-- drag-handle -->
                    <span class="drag-handle" style="cursor: move; margin-left: 5px;">
                        &#x2630; <!-- Unicode "гамбургер" -->
                    </span>
                </td>
            </tr>
        }
    </tbody>
</table>

