@model Monitoring.UI.Pages.IndexModel

<!-- Просто кусок таблицы -->
<table class="table table-bordered">
    <thead>
        <tr>
            <th>DocumentNumber</th>
            <th>DocumentName</th>
            <th>WorkName</th>
            <th>Executor</th>
            <th>Controller</th>
            <th>Approver</th>
            <th>PlanDate</th>
            <th>Korrect1</th>
            <th>Korrect2</th>
            <th>Korrect3</th>
            <th>FactDate</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.WorkItems)
        {
            <tr>
                <td>@item.DocumentNumber</td>
                <td>@item.DocumentName</td>
                <td>@item.WorkName</td>
                <td>@item.Executor</td>
                <td>@item.Controller</td>
                <td>@item.Approver</td>
                <td>@item.PlanDate?.ToShortDateString()</td>
                <td>@item.Korrect1?.ToShortDateString()</td>
                <td>@item.Korrect2?.ToShortDateString()</td>
                <td>@item.Korrect3?.ToShortDateString()</td>
                <td>@item.FactDate?.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>